# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/Components/bai_tap_1
/Components/bai_tap_2
/Components/bai_tap_3_props
/Components/bai_tap_4_propsFunction
/Components/bai_tap_Burger
/Components/bai_tap_form_quan_ly_SV
/Components/bai_tap_redux
/data
/Redux/Bai_tap_oan_tu_ti_Reducer.jsx
/Redux/BurgerReducer.jsx
/Redux/GioHangReducer.jsx
/Redux/QuanLySinhVienReducer.jsx
